KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=baro-vehicle-consumer-group
KAFKA_TOPIC=vehicle-data-topic

DB_URL=jdbc:postgresql://localhost:5432/timescaledb
DB_USER=postgres
DB_PASSWORD=secret
