apiVersion: v1
kind: Secret
metadata:
  name: baro-kafka-secret
  namespace: kafka
type: Opaque
stringData:
  KAFKA_BOOTSTRAP_SERVERS: "b-1.your-cluster.xxxx.kafka.ap-northeast-2.amazonaws.com:9092,b-2.your-cluster.xxxx.kafka.ap-northeast-2.amazonaws.com:9092"
  KAFKA_GROUP_ID: "baro-vehicle-consumer-group"
  KAFKA_TOPIC: "vehicle-data-topic"
  DB_URL: "jdbc:postgresql://timescaledb.database.svc.cluster.local:5432/postgres"
  DB_USER: "postgres"
  DB_PASSWORD: "your-password"
